/**
   Folha de estilo do site Pizzaria Digiuseppe
   @Autor  Gabriely Barreto Almeida 
   @link https://gabrielybarreto
 */

/*Layout *******************************************/

/* Variaveis cores */
:root {
   --vermelho: #ff010d;
   --bege: #FFF3E0;
   --marron: #5D4037;
   --branco: #ffffff;
   --preto: #000000;
   --vermelho_escuro: #bf040d;

}

/* fim da variaveis cores *************************/

/* CSS reset-----------------------------*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Lobster Two", "Open Sans";
}

.container {
   display: flex;
   margin: 0 auto;  /*Centralizar o leyout e o conterner*/
}

/* Criar  Botão  */
.btn {
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   background-color: var(--marron);
   padding: 10px 20px;
   color: var(--branco);
   border-radius: 30px;
   text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.897);

}



/* fim do layout*********************************/

/* Smartphone Portrait --------------------------------*/
/* cebeçario*/


header {
   height: 80px;
   background-color: var(--vermelho_escuro)
}

.logo img {
   width: 100px;
   height: 100px;

}

#check {
   display: none;
   /*sempre que quiser remover alguma coisa */
}

label {
   font-size: 3rem;
   color: rgba(245, 245, 220, 1);
   position: fixed;
   top: 5px;
   right: 15px;
}

nav ul {
   list-style: none;
   height: 100vh;
   position: fixed;
   top: 60px;
   background-color: rgba(255, 0, 0, 0.75);
   width: 65%;
   /*tamanho da tela que vai pegar o menu*/
   right: -65%;
   /*Ajustar com width*/
   transition: all 0.5s;
}

/* Ação para uma caixa check*/
/*Quando selecionado mudar ul */
#check:checked~ul {
   right: 0px;
   /*background-color:  var(--marron); /*Mudar o ul total*/
}

nav ul li {
   padding: 15px;
   border-bottom: 1px solid var(--vermelho_escuro);
   text-align: right;
}

nav ul li a {
   /*Remover o sublinhado do texto*/
   text-decoration: none;
   color: var(--branco);

}

/* Principal banner */

main{
   height: 80vh;
   background: url(img/banner2.jpg);
   background-size: cover;
   background-position: center;
}

main .container{
   /* Relativo ao main */
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main h1{
   color: var(--branco);
   /* font-family */
   font-size: 2rem;
   text-shadow: 10px 10px 5px var(--preto),0px 5px 5px rgb(0, 0, 0),0px 15px 15px rgb(0, 0, 0),0px 20px 20px rgba(0, 0, 0, 0.993);
   margin-bottom: 10px;
}

main h2{
   color: var(--branco);
   font-size: 19px;
   font-family: OpenSans;
   text-shadow: 10px 10px 5px var(--preto),0px 5px 5px rgb(0, 0, 0),0px 15px 15px rgb(0, 0, 0),0px 20px 20px rgba(0, 0, 0, 0.993);
   margin-bottom: 90px;
}




/*fim do Smartphone----------------------------- */

/* smartphone landscape ----------------------*/
@media (min-width: 576px) {

   /* layout */
   .container {
      max-width: 540px;
   }

   /* Cabeçario */
   nav ul {
      width: 35%;
      right: -35%;
      transition: all 0.5s;
   }
 
   /* Principal main */
   main {
      height: 70vh;
   }

   main h1{
      font-size: 1.95rem;
   }

   main h2{
      font-size: 1rem;
   }
}




/*fim do landscape----------------------------*/
/* Tablet portrait */
@media (min-width: 768px) {

   /* layout */
   .container {
      max-width: 720px;

   }

   /* principal main */
   main h1{
      font-size: 3.9rem;
   }

   main h2{
      font-size: 3rem;
   }
}

/* fim do tablet ----------------------------*/

/* Tablet landscape */
@media (min-width: 992px) {

   /* layout */
   .container {
      max-width: 960px;
   }

   /* Principal main */

}

/*---fim de landscape-------------------------*/

/* Notebook / PC - HD*/
@media (min-width: 1200px) {

   /* layout */
   .container {

      justify-content: space-between;
      max-width: 1140px;
   }

   /* Cabeçario */
   header {
      height: 100px;

   }

   .logo img {
      width: 150px;
      height: 150px;
   }

   label {
      display: none;
   }

   nav ul {
      position: static;
      width: 100%;
      height: auto;
      background-color: transparent;
      margin-top: 25px;
      font-size: 1.5rem;
   }

   nav ul li {
      float: left;
      border: 0;
   }

   nav ul li a:hover {
      color: var(--preto);

   }

   /* principol */
   main {
      height: 85vh;
   }

   main h1 {
      font-size: 4rem;
   }

   main h2 {
      font-size: 1rem;
   }
}

/*- fim do notebook ------------------------ */

/* Notebook /PC /TV  -  FULL HD ou 4k*/
@media (min-width: 1400px) {
   /* layout */
   .container{
      max-width: 1320px;
   }

   /* principal */
   main h1{
      font-size: 6rem;
   }

   main h2{
      font-size: 3rem;
      margin-bottom: 190px;
   }
}

/*Fim - Notebook---------------------------------  */