/**
   Folha de estilo do site Pizzaria Digiuseppe
   @Autor  Gabriely Barreto Almeida 
   @link https://gabrielybarreto
 */

 /*Layout *******************************************/

 /* Variaveis cores */
 :root {
    --vermelho: #ff010d;
    --bege: #FFF3E0;
    --marron: #5D4037;
    --branco: #ffffff;
    --preto: #000000;
    --vermelho_escuro: #bf040d;

 }
 /* fim da variaveis cores *************************/

 /* CSS reset-----------------------------*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: "Lobster Two", "Open Sans";
 }

   .container {
      display: flex; 
      margin: auto;
   }

   .layout {
      margin: auto;
   }

 /* fim do layout*********************************/

 /* Smartphone Portrait --------------------------------*/
 /* cebeçario*/
 

 header {
   height: 80px;
   background-color:#ff010d
 }
 .logo img {
   width: 100px;
   height: 100px;
  
 }
 #check {
   display: none; /*sempre que quiser remover alguma coisa */  
 }

 label {
   font-size: 3rem;
   color: rgba(245, 245, 220, 1);
   position: fixed;
   top: 5px;
   right: 15px;
 }

 nav ul {
   list-style: none;
   height: 100vh;
   position: fixed;
   top: 60px;
   background-color:  rgba(255, 0, 0, 0.75);
   width: 65%; 
   /*tamanho da tela que vai pegar o menu*/
   right: -65%;
   /*Ajustar com width*/
   transition: all 0.5s;
 }

/* Ação para uma caixa check*/
/*Quando selecionado mudar ul */
#check:checked~ul {
   right: 0px;
   /*background-color:  var(--marron); /*Mudar o ul total*/
}

 nav ul li {
   padding: 15px;
   border-bottom: 1px solid var(--vermelho_escuro);
   text-align: right;
 }

 nav ul li a {
   /*Remover o sublinhado do texto*/
   text-decoration: none;
   color: var(--branco);

 }

/*fim do Smartphone----------------------------- */

/* smartphone landscape ----------------------*/
@media (min-width: 576px) {
   /* Cabeçario */
   nav ul {
      width: 35%;
      right: -35%;
      transition: all 0.5s;
   }
}

/*fim do landscape----------------------------*/
/* Tablet portrait */
@media (min-width: 768px) {

}
/* fim do tablet ----------------------------*/

/* Tablet landscape */
@media (min-width: 992px) {
}
/*---fim de landscape-------------------------*/

/* Notebook / PC - HD*/
@media (min-width: 1200px) {
   header {
      height: 100px;

   }

   .logo img {
   width: 150px;
   height: 150px;
   }

   label {
      display: none;
   }

   nav ul {
      position: static;
      width: 100%;
      height: auto;
      background-color: transparent;
   }
   nav ul li {
      float: left;
      border: 0;
   }

   nav ul li a:hover{
      color: var(--preto);
      
   }
}
/*- fim do notebook ------------------------ */

/* Notebook /PC /TV  -  FULL HD ou 4k*/
@media (min-width: 1400px) {
}
 /*Fim - Notebook---------------------------------  */


 /*Fim - Smartphone Portrait---------------------------------  */

